<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Nicht gefunden</PageTitle>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <p role="alert">Entschuldigung, diese Seite existiert nicht.</p>
        </LayoutView>
    </NotFound>
</Router>
