@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Ein unerwarteter Fehler ist aufgetreten.
    <a href="" class="reload">Neu laden</a>
    <a class="dismiss">🗙</a>
</div>
